/* Bouton devis */
@use "variables.scss";
.devis-button {
  background-color: $pinkpol;
  color: white;
  font-weight: bold;
  padding: 0.8rem 1.2rem;
  border-radius: 999px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 12px $pinkpol;
  font-family: "Eurostile", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: background-color 0.3s ease;
  width: 150px;
}
.devis-button:hover {
  background-color: $primary-color;
}

.fixed-modal-btn {
  position: fixed;
  bottom: 60px;
  right: 30px;
}

.openmodalhero {
  position: absolute;
  top: 60%;
  left: 30%;
  bottom: 0%;
  right: 0%;
  height: 25px;
}
