@use "variables.scss";

.sidebar {
  width: variables.$sidebar-width;
  font-family: "Eurostile", sans-serif;
  font-weight: 900;
  background-color: variables.$primary-color;
  color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  img {
    width: 100%;
    padding-bottom: 30%;
  }

  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 15px 20px;
      cursor: pointer;

      &:hover,
      &.active {
        background-color: $pinkpol;
      }
    }
  }
}
